SUBSCRIPTION_KEY=********

# POSTGRES ENV
POSTGRES_USER=********
POSTGRES_PW=********
POSTGRES_DB=********
POSTGRES_PORT=5432
PGADMIN_PORT=5050
DB_DATA_PATH=xxxxxx

# API ENV
BACKEND_PORT=8080
SAVE_TIME="* * * * *"
UPDATE_TRIPS_TIME="0 3 * * 1"
POSTGRES_HOST=localhost

JOURNEYS='[[1234, 2345]]'